<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508244051780-ksnpsggig663mc1g1qk5114k8vb76dev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508244051780-ksnpsggig663mc1g1qk5114k8vb76dev</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>508244051780-pugamvqgvdt3sf5g00td2kimesi3i45i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMMfjrTkfAr9uZW-A4ld2UDTOgXzU0Nuw</string>
	<key>GCM_SENDER_ID</key>
	<string>508244051780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chiefMate</string>
	<key>PROJECT_ID</key>
	<string>chiefmate-5138e</string>
	<key>STORAGE_BUCKET</key>
	<string>chiefmate-5138e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508244051780:ios:ebabe649806c0169a1b911</string>
</dict>
</plist>